.flex_col {
    display: flex;
    flex-direction: column;
}
.flex_row {
    display: flex;
    flex-direction: row;
}
#tester {
    border: 1px solid black;
}
#executor {
    border: 1px solid black;
    margin-right: 1em;
}

#interactive_modal {
    visibility: hidden;
    z-index: 999;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 400px;
    outline: none;
    overflow-y: auto;
}

#interactive_modal_top_bar {
    padding: 2px;
    background: crimson;
    cursor: alias;
    color: white;
    text-align: center;
    font-family: Rockwell, sans-serif;
    font-size: smaller;
}

#interactive_modal_top_bar:active {
    background: cadetblue;
}
textarea {
    font: 0.7em Consolas;
}
#execute_text {
    height: 90%;
    width: 20em;
}